// http://code.tutsplus.com/tutorials/a-wordpress-development-process-using-sass-and-compass--cms-21861
// Theme Information
//--------------------------------------------//
$theme_name: "Your Theme";
$theme_uri: "#";
$theme_description: "Awesome James Theme!";
$theme_version: "1.0";
$theme_author: "James You";
$theme_template: "Parent Theme Name";
