@import 'compass/css3';
@import 'vars';
@import 'theme_info';
@import 'fonts';

$base-font: 'NanumSquare';
$base-font-bold: 'NanumSquareBold';

* {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}
